<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="/css/headerUserPage.css">
    <title>THI BẰNG LÁI Ô TÔ HẠNG B1, B2</title>
    <style>
        .img-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .content-service img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>

<body>
	<div th:replace="format/header :: header"></div> 

    <section class="oto">
        <div class="title-oto text-center" style=" background: rgb(239, 237, 237); padding: 10px ; height: 145px; ">
            <p class="fw-bold" style="padding-top: 15px; font-size: 30px;">Khóa học lái xe ô tô B1 B2</p>
            <p style="font-size: 20px;">Khóa học lái xe ô tô B1 B2</p>
        </div>

        <div class="content-oto container">
            <h3 class="mt-4" style="margin-bottom: 20px;">Thông tin về bằng lái xe B1 và B2:</h3>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> <span class="fw-bold">Bằng B1</span> : điều
                khiển xe ô tô số tự động 4 – 9 chỗ và xe tải số tự động dưới 3.5 tấn, không được phép hành nghề lái xe
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> <span class="fw-bold">Bằng B2</span> : điều
                khiển xe ô tô số sàn và số tự động 4 – 9 chỗ và xe tải dưới 3.5 tấn, được phép hành nghề lái xe
            </p>

            <h4 class="mt-4" style="margin-bottom: 20px;">Học lái xe B1 và B2 sẽ khác nhau như thế nào:</h4>

            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Hạng B1 chỉ được lái xe ô tô số tự động và
                không được lái xe kinh doanh ví dụ như lái xe Grab, Taxi
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Hạng B2 được phép lái xe ô tô cả số sàn và số
                tự động và được lái xe kinh doanh.
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Học lái xe B1 thì học và thi trên xe số tự
                động
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Học lái xe B2 thì học trên xe số sàn và tự
                động, thi trên xe số sàn
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Thời hạn của bằng B2 là 10 năm, còn bằng B1 là
                đến 55 tuổi với nữ và 60 tuổi đối với nam (với nữ trên 45 tuổi và nam trên 50 tuổi thì hạn 10 kể từ ngày
                cấp)
            </p>

            <h4 class="mt-4" style="margin-bottom: 20px;"> Nên học bằng lái xe ô tô B1 hay B2:</h4>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Nếu gia đình đã có xe số sàn hoặc dự định mua
                xe số sàn thì phải học hạng B2
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Mục đích lái xe kinh doanh vận tải hoặc dự
                phòng sau này kinh doanh thì học hạng B2
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Đối với Nam thì nên học lái xe hạng B2
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Đối với Nữ và người lớn tuổi thì nên học lái
                xe B1 vì điều khiển xe số tự động sẽ dễ hơn xe số sàn do đó quá trình học và thi sẽ đơn giản hơn hạng B2
                khá nhiều
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Thời hạn sử dụng 2 bằng khác nhau như bên trên
                nên quý học viên cân nhắc, vì cần nhớ thời gian và làm một số thủ tục để gia hạn bằng trước khi hết hạn
            </p>

            <div class="img-container text-center" style="display: flex;">
                <div class="box-1" style="margin-right: 25px;">
                    <p class="fw-bold">Xe số tự động</p>
                    <img src="/img/soSan.jpg" alt=""
                        style="height: 540px; width: 500px; display: inline-block; line-height: 25px; text-align: center;">
                </div>
                <div class="box-2">
                    <p class="fw-bold">Xe số sàn</p>
                    <img src="/img/tuDong.jpg" alt=""
                        style="height: 540px; width: 500px; display: inline-block; line-height: 25px; text-align: center;">
                </div>
            </div>

            <h3 class="mt-4" style="margin-bottom: 20px;">Dịch vụ đào tạo được cam kết tại trường dạy lái xe Thành Công:
            </h3>
            <h4 class="mt-4" style="margin-bottom: 20px;">1. ĐÀO TẠO:</h4>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Thời gian học lý thuyết, thực hành lái xe ô tô
                là 3,5 tháng.
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Xe học thực hành: Honda City, Toyota Vios đời
                2021 trở lên
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Miễn phí học theo chương trình DAT 710km với
                hạng B1 và 810km với hạng B2 và thực hành trên sa hình thô, học theo chương trình lái xe ban ngày và ban
                đêm theo quy định
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> <span class="fw-bold"> Được học miễn phí 4 giờ
                    xe cảm ứng</span> (là xe
                thiết bị chấm thi trên sa hình, giá đang cho thuê 550.000đ -> 700.000đ/giờ) nên đảm bảo tỉ lệ đậu rất
                cao.
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> <span class="fw-bold"> Giáo viên nhiều năm
                    kinh nghiệm</span> và giảng dạy
                tận tình cho từng học viên
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i><span class="fw-bold"> Thời gian học linh
                    hoạt</span> cho học viên sắp xếp,
                để phù hợp với thời gian và công việc của mỗi người
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i><span class="fw-bold"> Có xe đưa đón đi học thực
                    hành</span> Có xe đưa đón đi học thực hành tại điểm gần
                nhà hoặc tại nhà theo yêu cầu của học viên
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Được học lý thuyết và thực hành nơi gần nhà
                học viên nhất. Có rất nhiều điểm học trên khắp các quận tại TPHCM.
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Được học lý thuyết và thực hành nơi gần nhà
                học viên nhất. Có rất nhiều điểm học trên khắp các quận tại TPHCM.
            </p>
            <h4 class="mt-4" style="margin-bottom: 20px;">– Học lý thuyết:</h4>
            <p>+ Sáng: 9h -> 11h</p>
            <p>+ Chiều: 14h -> 16h</p>
            <p>+ Tối: 18h -> 20h</p>

            <h4>– Học thực hành:</h4>
            <p>+ Sáng: 7h -> 9h, 9h -> 11h</p>
            <p>+ Chiều: 13h -> 15h, 15h -> 17h</p>
            <p>+ Tối: Quý học viên tự sắp xếp với Giáo viên dạy thực hành.</p>
            <h4 class="text-center mt4" style="margin-bottom: 20px;">Một số hình ảnh của trung tâm Thành Công</h4>
            <div class="img-container">
                <div class="box-img" style="display: grid; grid-template-columns: repeat(3, 1fr); ">
                    <div class="box">
                        <img src="/img/tc1.jpg" alt="" style="height: 350px; width: 100%; object-fit: cover;">
                        <img src="/img/tc2.jpg" alt="" style="height: 350px; width: 100%; object-fit: cover;">
                    </div>
                    <div class="box">
                        <img src="/img/tc3.jpg" alt="" style="height: 350px; width: 100%; object-fit: cover;">
                        <img src="/img/tc4.jpg" alt="" style="height: 350px; width: 100%; object-fit: cover;">
                    </div>
                    <div class="box">
                        <img src="/img/tc5.jpg" alt="" style="height: 350px; width: 100%; object-fit: cover;">
                        <img src="/img/tc6.jpg" alt="" style="height: 350px; width: 100%; object-fit: cover;">
                    </div>
                </div>
            </div>
            <h4 class="mt-4" style="margin-bottom: 20px;">2. HỌC PHÍ HỌC VÀ THI TRỌN GÓI ĐẾN KHI NHẬN BẰNG:</h4>
            <p>– Cam kết học phí là trọn gói bao gồm tất cả các chi phí, trong quá trình học học viên không phải tốn bất
                kỳ một chi phí nào hết.</p>
            <p class="fw-bold">Bao gồm:</p>
            <p>+ Miễn phí hồ sơ đăng ký.</p>
            <p>+ Miễn phí tài liệu, bộ sách 600 câu hỏi trắc nghiệm, 120 câu hỏi tình huống, và mẹo ôn thi</p>
            <p>+ App học và thi lý thuyết, mô phỏng</p>
            <p>+ Miễn phí tiền xăng, thuê xe, bãi tập, bồi dưỡng giáo viên.</p>
            <p>+ Miễn phí tất cả các kỳ thi</p>

            <h4 class="mt-4" style="margin-bottom: 20px;">3. CAM KẾT ĐẢM BẢO ĐẦU RA</h4>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Miễn phí toàn bộ chi phí luyện thi cả lý
                thuyết – thực hành
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Nếu không may thi rớt bên trường sẽ hỗ trợ
                đăng ký thi lại cho học viên
            </p>

            <h4 class="mt-4" style="margin-bottom: 20px;">4. HỖ TRỢ HỌC PHÍ</h4>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Học viên được Trung Tâm hỗ trợ đóng học phí
                linh hoạt. (chia 3 lần đóng trong quá trình học)
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Trung tâm sẽ hoàn tất mọi thủ tục hồ sơ, giấy tờ cho học viên hoàn toàn miễn phí.</p>

            <h4 class="mt-4" style="margin-bottom: 20px;">Chương trình học lái xe B1, B2 tại trung tâm Thành Công</h4>
            <h4 class="mt-4" style="margin-bottom: 20px;">1. Phần lý thuyết trường Thành Công</h4>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Giới thiệu tổng quan về cấu tạo xe ô tô số sàn
                và số tự động.
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Giới thiệu về quy trình học và thi bằng lái xe
                ô tô B1, B2
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Hướng dẫn và dạy hệ thống biển báo đường bộ
                Việt Nam bao gồm: Biển báo nguy hiểm, biển báo cấm, biển báo hiệu lệnh, biển chỉ dẫn và biển báo phụ.
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Định nghĩa các loại xe, khái niệm các loại
                đường cao tốc, dãi phân cách, người tham gia giao thông đường bộ là gì, phương tiện tham gia giao thông
                đường bộ,…
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Hướng dẫn cụ thể và giải đáp các câu hỏi văn
                hóa giao thông đường bộ, cách ứng xử sao cho hợp lý và đúng pháp luật
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Học luật giao thông đường bộ quy định cụ thể
                như thế nào để lái xe an toàn và tránh bị công an phạt.
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Hướng dẫn mô hình cụ thể các tình huống giao
                thông gặp phải và cách xử lý theo đúng quy định ví dụ: qua đường vòng xuyến thì phải nhường xe bên nào,
                các loại xe ưu tiên được sắp theo thứ tự ưu tiên cụ thể như thế nào
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Hướng dẫn cách thi lý thuyết và bài thi sa
                hình trong 11 bài sa hình theo quy định hiện tại.
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Hướng dẫn 120 tình huống mô phỏng giao thông
            </p>

            <h4 class="mt-4" style="margin-bottom: 20px;">2. Phần thực hành trường dạy lái xe Thành Công</h4>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Buổi đầu tiên giáo viên sẽ hướng dẫn tổng quan
                về xe về ngoại thất và nội thất để học viên nắm rõ và biết cách phân biệt
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Giới thiệu các bộ phận quan trọng để điều
                khiển xe: chân thắng, ga, côn (đối với xe số sàn), hộp số tự động và số sàn, vô lăng, nút điều chiển
                đèn, gạt mưa, chỉnh gương chiếu hậu …
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Hướng dẫn đánh lái tại chỗ và vào số nóng số
                nguội đúng cách.
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Khởi động xe chạy xe ở số 1 (đối với xe số
                sàn) và chế độ D đối với xe số tự động B1
            </p>

            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Tập chạy ở tốc độ 5km/h và đánh lái qua ngã 3
                ngã tư.
            </p>



            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Sau khi lấy cảm giác tốt về canh xe cũng như
                đánh lái thì sẽ chạy nhanh hơn ở tốc độ dưới 30km/h và thao tác lên số 2,3,4 đối với xe số sàn
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Tập bài thi canh ngang vai để ứng dụng nhiều
                trong bài thi sa hình.
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Tập bài thi lên dốc cầu (đây là bài thi được
                xem là khó nhất của xe số sàn thi hạng B2 còn đối với xe số tự động hạng B1 thì khá đơn giản)
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Hập bài thi qua vệt bánh xe bên phải đúng
                trong phạm vi cho phép
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Dừng đèn đỏ và bài thi qua hình chữ S hẹp
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Bài thi ghép dọc vào nơi đỗ (bài này áp dụng
                khá nhiều ngoài thực tế khi ta đưa xe vào bãi đỗ nhà hay chung cư).
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Bài thi ghép ngang vào nơi đỗ (bài thi này áp
                dụng thực tế khi ta đi xe ngoài đường và muốn ghép sát vào vỉa hè bên phải, và đậu giữa 2 xe trước và
                sau).
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Bài thi tăng tốc lên số nhanh với tốc độ và số
                theo bài thi quy định
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Học thực hành đường trường đảm bảo đủ km theo
                chương trình DAT, thời gian học ban ngày và trải nghiệm ban đêm theo quy định.
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Giáo viên sẽ đưa học viên ra đường trường để
                học thực tế ngoài đường để sau khi nhận bằng có thể tự tin lái một cách an toàn và hiệu quả.
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> Giáo viên sẽ đưa học viên vào sa hình để tổng
                hợp tất cả kiến thức đã học được vào bài thi. Sẽ hướng dẫn cụ thể lại các bài thi sa hình trực tiếp trên
                sân, chỉ các mẹo trong bài thi để học viên tự tin nhất.
            </p>
            <p><i class="bi bi-circle-fill" style="font-size: 10px;"></i> … và giáo viên sẽ hỗ trợ cho từng thắc mắc của
                riêng của học viên để có thể đạt hiệu quả tốt nhất trong kỳ thi cũng như lái xe thực tế sau khi nhận
                bằng.
            </p>
            <div class="img-container">
                <img src="/img/sahinh.jpg" alt="">
            </div>
            <p class="text-center mt-3">Mô hình 11 bài thi sa hình thi lái xe hạng B, C, D, ES</p>

            <h4 class="mt-4" style="margin-bottom: 20px;">5. Hồ sơ ghi danh học lái xe ô tô Thành Công</h4>
            <p>Hồ sơ được phát miễn phí khi học viên đến ghi danh.</p>
            <p>1. 02 Bản sao giấy chứng minh nhân dân (không công chứng).</p>
            <p>2. 12 ảnh màu 3 x 4cm.</p>
            <p>Bên trung tâm sẽ miễn phí và hỗ trợ toàn bộ giấy tờ cho học viên học lái xe ô tô tại trung tâm</p>
        </div>


    </section>
    
    <div th:replace="format/footer :: footer"></div> 
</body>

</html>