<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/headerUserPage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Trang Chủ</title>
</head>
<body>


    <div class="content " th:fragment="content">
        <div class="background">
            <img src="/img/background.jpg" alt=""
                style="margin: 0; padding: 0; float:left; width: 100%; margin-bottom: 25px; height: 550px;"
                class="ml-0 pl-0">
            <h3 class="text-center text-danger fw-bold">TRUNG TÂM ĐÀO TẠO VÀ SÁT HẠCH LÁI XE THÀNH CÔNG</h3>
        </div>

        <div class="main-conent1 container">
            <p style="margin-top: 35px;"><span class="text-danger fw-bold">Lưu ý:</span><span class="text-danger"> hiện
                    nay có một số văn phòng mạo danh thương hiệu trung tâm Thành Công quảng cáo với mức học phí rất thấp
                    nên Quý khách hết sức cẩn thẩn, hãy tìm hiểu kỹ các vấn đề sau:</span></p> <br>

            <p style="margin-top: -30px;"><span class="fst-italic">– Bảng hiệu văn phòng + hợp đồng cam kết không có
                    logo và tên của trung tâm Thành Công mà chỉ ghi tên “Công Ty … Thành Công” hoặc một tên gì đó không
                    liên quan tới trung tâm Thành Công. </span></p> <br>

            <p style="margin-top: -25px;"><span class="fst-italic">– Văn phòng tại địa chỉ đó không có <span
                        class="fw-bold">giấy phép do Sở cấp</span> (khi tìm hiểu học Quý khách có thể yêu cầu cung cấp
                    giấy phép để xem)</span> </p> <br>

            <p style="margin-top: -25px;"><span class="fw-bold">Trường dạy lái xe Thành Công</span> xin gửi lời chào và
                cảm ơn tới quý khách đã ghé thăm website chính thức của chúng tôi, vì đã tin tưởng và ủng hộ trong suốt
                thời gian qua để trung tâm phát triển như ngày hôm nay.</p> <br>

            <p style="margin-top: -25px;">Trung Tâm Thành Công là một trong những Trường dạy lái xe ô tô lâu đời đã tạo
                nên uy tín chất lượng và chuyên nghiệp hàng đầu tại Tp.HCM. Quy mô đào tạo chuẩn theo Sở GTVT với số
                lượng hơn 200 xe ô tô con và tải, với đội ngũ nhân viên chuyên nghiệp và giáo viên nhiều năm kinh
                nghiệm, dạy nhiệt tình và chăm sóc và đào tạo kỹ lưỡng. <br>

                Chúng tôi sẽ cố gắng tiếp thu ý kiến khách hàng, ngày càng hoàn thiện hơn để đảm bảo được phục vụ tất cả
                các Quý học viên được tốt nhất.</p>
        </div>
        <div class="main-content2 text-center"
            style="display: flex; margin-top: 20px; background-color: rgb(227, 224, 224); height: 250px;padding-top: 20px;">
            <div class="box1">
                <i class="bi bi-trophy-fill" style="color: red; font-size: 60px;"></i>
                <p class="fw-bold">THƯƠNG HIỆU</p>
                <p>Trường dạy lái xe Thành Công là một trong những trung tâm đi đầu tại TPHCM, cơ sở vật chất hiện đại
                    đáp đứng mọi nhu cầu của học viên</p>
            </div>
            <div class="box2">
                <i class="bi bi-star-fill" style="color: red; font-size: 60px;"></i>
                <p class="fw-bold">CHẤT LƯỢNG</p>
                <p>Với đội ngũ nhân viên, giáo viên nhiều năm kinh nghiệm trong lĩnh vực dạy lái xe. Đảm bảo phục vụ Quý
                    học viên được chuyên nghiệp và chất lượng.</p>
            </div>
            <div class="box3">
                <i class="fa-solid fa-handshake" style="color: red; font-size: 60px; padding-top:10px"></i>
                <p class="fw-bold" style="margin-top: 20px;">HỖ TRỢ</p>
                <p>Đến với Thành Công, Qúy học viên sẽ được hỗ trợ 24/7 tận tình trước, trong và sau quá trình tham gia
                    khóa học tại trung tâm</p>
            </div>
        </div>
        <div class="main-content3" style="margin-top: 30px;">
            <h3 class="text-center text-danger">CÁC KHÓA ĐÀO TẠO TẠI TRUNG TÂM</h3>
            <div class="box-content3" style="display: flex; padding: 20px; margin: 15px; align-items: center;">
                <div class="box1" style="margin-left: 5%;">
                    <a href=""> <img src="/img/a1.jpg" alt="" style="height: 200px; width: 300px;"></a>
                    <p class="fw-bold text-center">HỌC BẰNG LÁI XE A1,A2</p>
                    <div class="icon" style="display: flex;align-items: center; justify-content: center;">
                        <i class="fa-solid fa-star" style="color: gold;"></i>
                        <i class="fa-solid fa-star" style="color: gold;"></i>
                        <i class="fa-solid fa-star" style="color: gold;"></i>
                        <i class="fa-solid fa-star" style="color: gold;"></i>
                        <i class="fa-solid fa-star" style="color: gold;"></i>
                    </div>
                </div>
                <div class="box2" style="margin-left: 5%;">
                    <a href=""> <img src="/img/b1.jpg" alt="" style="height: 200px; width: 300px;"></a>
                    <p class="fw-bold text-center">HỌC BẰNG LÁI XE B1,B2</p>
                    <div class="icon" style="display: flex; align-items: center; justify-content: center;">
                        <i class="fa-solid fa-star" style="color: gold;"></i>
                        <i class="fa-solid fa-star" style="color: gold;"></i>
                        <i class="fa-solid fa-star" style="color: gold;"></i>
                        <i class="fa-solid fa-star" style="color: gold;"></i>
                        <i class="fa-solid fa-star" style="color: gold;"></i>
                    </div>
                </div>
                <div class="box3" style="margin-left: 5%;">
                    <a href=""> <img src="/img/c3.png" alt="" style="height: 200px; width: 300px;"></a>
                    <p class="fw-bold text-center">HỌC BẰNG LÁI XE HẠNG C</p>
                    <div class="icon" style="display: flex;align-items: center; justify-content: center;">
                        <i class="fa-solid fa-star" style="color: gold;"></i>
                        <i class="fa-solid fa-star" style="color: gold;"></i>
                        <i class="fa-solid fa-star" style="color: gold;"></i>
                        <i class="fa-solid fa-star" style="color: gold;"></i>
                        <i class="fa-solid fa-star" style="color: gold;"></i>
                    </div>
                </div>

                <div class="box4" style="margin-left: 5%;">
                    <a href=""><img src="/img/sup.jpg" alt="" style="height: 200px; width: 300px;"></a>
                    <p class="fw-bold text-center">KHÓA BỔ TÚC TAY LÁI</p>
                    <div class="icon" style="display: flex;align-items: center; justify-content: center;">
                        <i class="fa-solid fa-star" style="color: gold;"></i>
                        <i class="fa-solid fa-star" style="color: gold;"></i>
                        <i class="fa-solid fa-star" style="color: gold;"></i>
                        <i class="fa-solid fa-star" style="color: gold;"></i>
                        <i class="fa-solid fa-star" style="color: gold;"></i>
                    </div>
                </div>
            </div>
            <div class="main-content4 container" style="margin-top: 30px;">
                <hr>
                <div class="div1">
                    <p class="fw-bold" style="font-size: 18px; margin-top: 15px;">Thông tin các hạng B1, B2, C</p>
                    <p><i class="fa-solid fa-circle" style="font-size: 10px;"></i> Bằng lái xe hạng B1: được điều khiển
                        xe ô tô số tự động 4 – 9 chỗ và tải số tự động dưới 3.5 tấn, không được hành nghề lái xe. </p>
                    <br>
                    <p style="margin-top: -30px;"><i class="fa-solid fa-circle" style="font-size: 10px;"></i> Bằng lái
                        xe hạng B2: được điều khiển xe ô tô số sàn và số tự động 4 – 9 chỗ và tải dưới 3.5 tấn, được
                        hành nghề lái xe.</p> <br>
                    <P style="margin-top: -30px;"> <i class="fa-solid fa-circle" style="font-size: 10px;"></i> Bằng lái
                        xe hạng B2: được điều khiển xe ô tô số sàn và số tự động 4 – 9 chỗ và tải dưới 3.5 tấn, được
                        hành nghề lái xe.</P> <br>
                    <p style="margin-top: -25px;"><span class="fst-italic">Nên học bằng lái xe B1 hay B2 thì xem
                            link</span> => <a href="" class="text-decoration-none">Học lái xe B1 B2</a></p>
                </div>
                <div class="div2" style="margin-top: 35px;">
                    <h4 class="fw-bold">Điều kiện học lái xe ô tô</h4>
                    <p style="margin-top: 15px;"><i class="fa-solid fa-circle" style="font-size: 10px;"></i> Là công dân
                        Việt Nam hoặc người nước ngoài đang làm việc và sinh sống tại Việt Nam</p> <br>
                    <p style="margin-top: -30px;"><i class="fa-solid fa-circle" style="font-size: 10px;"></i> Từ 18 tuổi
                        (đối với hạng B1, B2) và từ 21 tuổi (đối với hạng C)</p> <br>
                    <p style="margin-top: -30px;"><i class="fa-solid fa-circle" style="font-size: 10px;"></i> Đủ điều
                        kiện sức khỏe theo quy định</p> <br>
                    <p style="margin-top: -30px;"><i class="fa-solid fa-circle" style="font-size: 10px;"></i> Không yêu
                        cầu về bằng cấp hay trình độ văn hóa.</p> <br>
                </div>
                <div class="div3" style="margin-top: -5px;">
                    <h4 class="fw-bold" style="margin-bottom: 15px;">Dịch vụ tại trường dạy lái xe Thành Công</h4>
                    <p><i class="fa-solid fa-circle" style="font-size: 10px;"></i><span class="fw-bold"> Được cam kết dịch vụ bằng Hợp đồng pháp nhân</span> , nên Quý học viên yên tâm về chất lượng và dịch vụ đào tạo</p> <br>
                    <p style="margin-top: -30px;"><i class="fa-solid fa-circle" style="font-size: 10px;"></i> Thời gian học lái xe là 3,5 tháng (đối với hạng B1, B2), 6 tháng (đối với hạng C)</p> <br>
                    <p style="margin-top: -30px;"><i class="fa-solid fa-circle" style="font-size: 10px;"></i> Học phí là <span class="fw-bold">trọn gói cam kết không phát sinh </span> (tuyệt đối không có trường hợp giáo viên vòi tiền của học viên)</p> <br>
                    <p style="margin-top: -30px;"><i class="fa-solid fa-circle" style="font-size: 10px;"></i> Miễn phí học theo <span class="fw-bold"> chương trình DAT 710km đối với hạng B1, 810km đối với hạng B2 và 825km đối với hạng C</span></p> <br>
                    <p style="margin-top: -30px;"><i class="fa-solid fa-circle" style="font-size: 10px;"></i> Học thực hành trên sa hình thô miễn phí</p> <br>
                    <p style="margin-top: -30px;"><i class="fa-solid fa-circle" style="font-size: 10px;"></i> <span class="fw-bold"> Được học 4 giờ xe cảm ứng </span>(xe thiết bị chấm thi trên sa hình, giá thuê hiện tại 500.000đ -> 700.000đ/giờ)</p> <br>
                    <p style="margin-top: -30px;"><i class="fa-solid fa-circle" style="font-size: 10px;"></i> <span class="fw-bold">Miễn phí Hồ Sơ</span> đăng ký nhập họ</p> <br>
                    <p style="margin-top: -30px;"><i class="fa-solid fa-circle" style="font-size: 10px;"></i> Photo CMND, bằng lái xe và rửa hình thẻ <span class="fw-bold"> Miễn phí</span></p> <br>
                    <p style="margin-top: -30px;"><i class="fa-solid fa-circle" style="font-size: 10px;"></i> <span class="fw-bold">Miễn phí tất cả các loại lệ phí thi</span> </p> <br>
                    <p style="margin-top: -30px;"><i class="fa-solid fa-circle" style="font-size: 10px;"></i> <span class="fw-bold"> Miễn phí</span> sách 600 câu hỏi luật GTĐB + sách 120 tình huống mô phỏng giao thông + Mẹo thi lý thuyết và mô phỏng + sách hướng dẫn học thực hành và các bài thi sa hình.</p> <br>
                    <p style="margin-top: -30px;"><i class="fa-solid fa-circle" style="font-size: 10px;"></i> <span class="fw-bold"> Thời gian học linh hoạt</span> cho học viên sắp xếp, để phù hợp với thời gian và công việc của mỗi người</p> <br>
                    <p style="margin-top: -30px;"><i class="fa-solid fa-circle" style="font-size: 10px;"></i> <span class="fw-bold">Có xe đưa đón</span>  đi học thực hành tại điểm gần nhà hoặc tại nhà theo yêu cầu của học viên</p> <br>
                    <p style="margin-top: -30px;"><i class="fa-solid fa-circle" style="font-size: 10px;"></i> <span class="fw-bold"> Giáo viên nhiều năm kinh nghiệm </span>và giảng dạy tận tình cho từng học viên, được đổi giáo viên nếu không hài lòng</p> <br>
                    <p style="margin-top: -30px;"><i class="fa-solid fa-circle" style="font-size: 10px;"></i> Được học lý thuyết và thực hành nơi gần nhà học viên nhất. Có rất nhiều điểm học trên khắp các quận tại TPHCM</p> <br>
                    <p style="margin-top: -30px;"><i class="fa-solid fa-circle" style="font-size: 10px;"></i> Xe học thực hành: Vios đời mới</p> <br>
                    <p style="margin-top: -30px;"><i class="fa-solid fa-circle" style="font-size: 10px;"></i> Miễn phí lệ phí Cấp chứng chỉ nghề lái xe</p> <br>
                    <p style="margin-top: -30px;"><i class="fa-solid fa-circle" style="font-size: 10px;"></i> Hỗ trợ chia học phí làm 2 – 3 lần đóng, có thể tạm ứng trước và bắt đầu được học luôn.</p> <br>
                    <p style="margin-top: -30px;"><i class="fa-solid fa-circle" style="font-size: 10px;"></i> Hỗ trợ ghi danh tại nhà hoặc cơ quan miễn phí ở các quận huyện tại TPHCM</p> <br>
                    <p class="fw-bold" style="margin-top: -20px;">==> Chúng tôi lấy chữ “Tín” lên làm hàng đầu, đảm bảo và cố gắng hết sức để cho Quý học có một khoá học lái xe ô tô được hài lòng và chất lượng nhất. Sự hài lòng của Quý học viên là mục tiêu hướng đến và là yếu tố quyết định đến sự phát triển của chúng tôi.</p>
                </div>

                <div class="div4 container" style="margin-top: 40px;">
                    <h4 class="text-center fw-bold text-danger">Thời gian đào tạo tại trường dạy lái xe Thành Công</h4>
                    <div class="box-div4" style="display: flex; margin-top: 30px;">
                        <div class="box-left-div4" style="margin-left: 15%;">
                            <p class="fw-bold">- Học lý thuyết:</p>
                            <p>+ Sáng: 9h -> 11h</p>
                            <p>+ Chiều: 14h -> 16h</p>
                            <p>+ Tối: 18h -> 20h</p>
                        </div>
                        <div class="box-right-div4" style="margin-left: 25%;">
                            <p class="fw-bold">- Học thực hành:</p>
                            <p>+ Sáng: 7h -> 9h, 9h -> 11h</p>
                            <p>+ Chiều: 13h -> 15h, 15h -> 17h</p>
                            <p>+ Tối: Quý học viên tự sắp xếp với Giáo viên dạy thực hành.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
     
    
    
</body>
</html>